@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #264653;
}

.eCLgYE {
  height: max-content;
}

/* .ch-nameplate {
  display: none;
} */

.egdEPf svg {
  color: whitesmoke;
}

.ch-control-bar-item-label {
  color: whitesmoke !important
}

@media only screen and (max-width: 600px) {
  .eYtRsl .ch-nameplate {
    padding: 0.25rem !important;
    left: 0.25rem !important;
    bottom: 0.25rem !important;
  }

  .eYtRsl .ch-nameplate .ch-text {
    font-size: 0.5rem !important;
  }
}